<h1>Coworking place</h1>
<p>Subscribe for joining us !</p>
<%= simple_form_for @request do |f| %>
  <%= f.input :name %>
  <%= f.input :email, placeholder: 'your@email.com' %>
  <%= f.input :phone_number %>
  <%= f.input :biography, as: :text, placeholder: 'tell us about you !' %>
  <%= f.button :submit, 'Subscribe' %>
<% end %>
